.about-section {
  background: #f9f9f9;
  padding: 60px 80px;
  font-family: Arial, sans-serif;
}

.about-header h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: Neuton;
  color: #222;
}

.about-header p {
  color: #393838;
  margin-top: 8px;
  font-family:Inter;
  font-size: 23px;
  font-weight: bolder;
}

.about-header .highlight {
  border-left: 4px solid #f4b400;
  padding-left: 10px;
}

.about-box {
    margin-left: auto;
    margin-right: auto;
  background: #fff;
  width: 1200px;
  height: 450px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  position: relative;
  align-items: center;
}

.about-image {
  background: #e5e5e5;
  width: 600px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  font-size: 16px;
  border-radius: 10px;
}
.about-image img {
    width: 600px;
    height : 430px;
}
.about-vector1 {
    position: absolute;
    margin-top: -60px;
    right: 0px;
}
.about-vector1 img{
    width: 450px;
    height: 450px;
}
.about-vector2{
    position: absolute;
    bottom: -80px;
    right: -30px;
}
.about-text h3 {
  font-size: 24px;
  font-family: NATS;
  margin-bottom: 15px;
  color: #222;
}

.about-text p {
  color: #444;
  font-family:Outfit;
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.view-btn {
  background: #f4b400;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.view-btn:hover {
  background: #e0a800;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #008b8b;
  color: #fff;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-arrow:hover {
  background: #006666;
}

.nav-arrow.left {
  left: 5px;
}

.nav-arrow.right {
  left: 600px;
}

/* Responsive */
@media (max-width: 768px) {
  .about-box {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-image {
    height: 200px;
  }

  .nav-arrow {
    top: auto;
    bottom: -20px;
    transform: none;
  }

  .nav-arrow.left {
    left: 40%;
  }

  .nav-arrow.right {
    right: 40%;
  }
}
