.header {
  display: flex;
  justify-content: flex-end;
  background: #0c1a3c;
  padding: 10px 20px;
}

.header-right a {
  margin-left: 20px;
  text-decoration: none;
  color: #ffd700;
  font-weight: 500;
  font-size: 14px;
}

.header-right .counselling-code {
  border: none;
  background: linear-gradient(45deg, #ffd900d2, #ffb100);
  color: #0c1a3c;
  padding: 6px 15px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(255, 215, 0, 0.6);
  transition: all 0.3s ease-in-out; /* smooth animation */
  cursor: pointer;
}

.header-right .counselling-code:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.85);
}
/* ✅ Mobile View (width below 768px) */
@media (max-width: 768px) {
  .header-right .counselling-code {
  border: none;
  background: linear-gradient(45deg, #ffd900d2, #ffb100);
  color: #0c1a3c;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(255, 215, 0, 0.6);
  transition: all 0.3s ease-in-out; /* smooth animation */
  cursor: pointer;
}

.header-right a {
  margin-left: 10px;
  text-decoration: none;
  color: #ffd700;
  font-weight: 500;
  font-size: 12px;
}
}

/* ✅ Small Mobile (below 480px) */
@media (max-width: 780px) {
  .header {
   display: none;
  }
}